<form action="/api/update/{{_id}}" method="POST">
  Name:<br>
  <input type="text" name="name" placeholder="Enter Name" value="{{name}}"><br>
  Age:<br>
  <input type="text" name="age" placeholder="Enter Age" value="{{age}}"><br>
  Tags:<br>
  <input type="text" name="tags" placeholder="Enter Tags" value="{{tags}}"><br>
  Weight:<br>
  <input type="text" name="weight" placeholder="Enter Weight" value="{{description.weight}}"><br>
  Color:<br>
  <input type="text" name="color" placeholder="Enter Color" value="{{description.color}}"><br>
  URL:<br>
  <input type="text" name="url" placeholder="Enter URL" value="{{url}}"><br>

  <input type="submit" value="Submit">
</form>
