<form action="/api/create" method="POST">
  Name:<br>
  <input type="text" name="name" placeholder="Enter Name"><br>
  Age:<br>
  <input type="text" name="age" placeholder="Enter Age"><br>
  Tags:<br>
  <input type="text" name="tags" placeholder="Enter Age"><br>
  Weight:<br>
  <input type="text" name="weight" placeholder="Enter Weight"><br>
  Color:<br>
  <input type="text" name="color" placeholder="Enter Color"><br>
  URL:<br>
  <input type="text" name="url" placeholder="Enter URL"><br>

  <input type="submit" value="Submit">
</form>